/*

Add styles or override variables from the theme here.

*/

$blue: #005C94 !default;
$white: #ffffff !default;

$navbar-dark-color: rgba($blue, 0.75) !default;
$navbar-dark-hover-color: rgba($blue, 0.5) !default;
$navbar-dark-active-color: $blue !default;
$navbar-dark-disabled-color: rgba($blue, 0.25) !default;
$navbar-background : $white !default;
